:host {
  display: grid;
  width: 100vw;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 10fr 1fr;
}

.slide-number {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: white;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


